[Desktop Entry]
Encoding=UTF-8
Version=1.0
Comment=MPKG package system: graphical front-end
Comment[ru]=Менеджер пакетов Apackager
Exec=apackager
TryExec=apackager
GenericName=Package manager Apackager
GenericName[ru]=Менеджер пакетов Apackager
Icon=mpkg-apackager
MimeType=
Name=Apackager: package manager GUI
Name[ru]=Установка/удаление пакетов
Name[en]=Install/remove packages
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=root
Categories=System;
